html{
    padding:0;
    margin:0;
    width:100%;
	height: 100%;
	margin: auto;
	overflow: auto;
}

body{
    padding:0;
    margin:0;
    width:100%;
	background-image: url("../img/main-pattern.jpg");
	background-size: 100%;
	display: inline;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.navbar-brand{
    background-image: linear-gradient(90deg, rgba(111,103,255,1) 0%, rgba(0,134,255,1) 49%, rgba(3,172,150,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    margin-left: 0.5%;
    -webkit-user-select: none; 
    cursor: default;
}

.navbar-brand-img{
    background-image: url("../img/movie-frame.png");
    background-repeat: no-repeat;
    margin-left: 5%;
    width: 48px;
    height: 48px;
}

.ml-auto{
    margin-right: 5%;
}

.center{
	width: 80%;
	margin: auto;
    padding-bottom: 20px;
}

#center-item{
	width: 100%;
    height: auto;
	background-color: rgb(26, 26, 26);
	margin-top: 5px;
	margin-bottom: 5px;
	border: 5px solid;
	border-image-source: radial-gradient(circle, rgba(3,1,53,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-image-slice: 1;
    padding: 1%;
    display: table;
    margin-top: 2.5vw;
}
.other{
    width: 35vw;
    height: auto;
    float: left;
}
#center-item img{
    width: 100%;
    height: 19.5vw;
    border-radius: 5px;
    float:left;
}

object embed{
    width: 100%;
    height: 19.5vw;
    margin-top: 1vw;
}

.text{
    width: 35vw;
    height: auto;
    float: left;
    margin-left: 1vw;
    display: table-column;
}

#title{
    width: 100%;
    height: auto;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: gold;
}

#sub-title{
    color: white;
    margin-top: 1vw;
    height: auto;
    font-size: 1.5vw;
}

#info{
    width: 100%;
    height: auto;
    padding-left: 0.2vw;
    letter-spacing: 1px;
    color: grey;
    margin-top: 1vw;
    font-size: 1vw;
}

#info-bullet{
    width: 100%;
    height: auto;
    padding-left: 0.2vw;
    letter-spacing: 1px;
    color: grey;
    font-size: 0.8vw;
}

.footer {
    font-size: 0.8vw;
}

footer{
	width: 100%;
	height: 3vw;
	background-color: #343a40;
	bottom: 0px;
    padding: 0px;
    margin-top: 10vw;
    clear: both;
}

.copyright{
	width: 10vw;
	height: 100%;
	color: grey;
    margin: auto;
    margin-top: 1vh;
    bottom: 0;
}

.copyright p{
	font-size: 0.8vw;
	font-weight: normal;
	height: 1.5vw;
	float: left;
    margin-left: 0.2vw;
    margin-top: 1vw;
}

.copyright-img{
	width: 0.8333vw;
	height: 0.8333vw;
	background-image: url("../img/copyright.png");
    float: left;
    margin-top: 1.2vw;
}

@media only screen and (max-width:800px) {
    .other{
        width: 100%;
        margin-bottom: 2.5vw;
    }
    .text{
        width: 100%;
    }
  }
